*{
  margin: 0;
  padding: 0;
}


.links{
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;

}

.links label{
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all .4s;
  text-align: center;
  font-family: 'Arial';
  font-size: 150%;
  color: #fffefe;
  background-color: #35383a;
  }

.links label:hover{
  background-color: rgba(255,255,255,.2);
}

.scroll{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.sections{
  transition: all .4s;
}


.block{
  width:100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}


.block img{
  width: 50%

}

.elonimg{
  max-width:950%;
  max-height: 95%;
  flex-grow: 1;
}
footer.bar{
  border-top: 0px solid rgb(0, 0, 0);
  bottom: 0;
  left: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: #35383a;
}

.table{
    margin: 30px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-spacing: 5px;
    font-size: 120%;
}

#rdabout{
  background: #C9C9C9;
}


#rdprojects{
  background-color: #EEEEEE;
}

#rdcontact{
  background-color: #414950;
}

#rd_projects:checked ~.sections{
  margin-top: -100vh;
}
#rd_contact:checked~.sections{
  margin-top: -200vh;
}

.text1{
  position: relative;
  padding: 100px;
  font-family: 'Arial';
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  
  }

h1{
  display: black;
  font-size: 4em;
  margin-block-start: 0.50em;
  margin-block-end: 0.50em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
